* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  gap: 25px;
}

#search {
  width: 500px;
  height: 50px;
  font-size: 2rem;
  font-weight: bold;
}

img {
  width: 50px;
  height: 50px;
}

.searchButton {
  background: none;
  border: none;
}

.searchButton:hover {
  cursor: pointer;
}
